@media (max-device-width: 400px) {

    header {
        background-color: rgba(255, 255, 255, 1);
        position: relative;
    }

    header nav {
        margin-top: -2em;
    }

    header a.addLink {
        padding: .75em;
        margin: 0;
        color: black;
        text-decoration: none;
    }

    footer nav {
        margin-top: -100px;
    }

    footer a.addLink {
        padding: .7em;
        margin: 0;
        margin-top: -15px;
        color: black;
        text-decoration: none;
        font-size: 20px !important;
    }

    #credit, #cc{
        font-size: 5.75px !important;
    }

}