@media (max-device-width: 400px){
    video {
        width: 96%;
        margin: 0;
        margin-top: 1em;
        height:76%;
        z-index: 0;
        position: relative;
        background-color: maroon;
        border: maroon 1em solid;

    }

    .benfit {
        display: block;
        column-count: 1;
        padding-top: 1px;
        width: 97%;
        align-self: center;
        border-radius: 9%;
        margin-left: -2.2em;
    }

    .bt {
        border: 2px black solid;
        border-collapse: collapse;
        background-color: rgba(220, 220, 220, 1);
        padding-top: 1%;
        padding-bottom: 1%;
        margin-left: -.75%;
        border-radius: 9%;
        box-shadow: maroon 14px 10px;
    }

    .bt p {
        font: 17px bold;
    }

    .bt img {
        width: 50em;
        align-self: center;
        border-radius: 20%;
    }

    h2 {
        color: maroon;
        margin-top: -20em;
    }
}