main{
    padding-top: 8em;
}

.service{
    padding-left: 25%;
    align-self: center;
}

.square{
    display: flex;
    column-count: 2;
    padding-left: 3%;
}

.square .imgHold{
    background-color: maroon;
    width: 400px;
    height: 600px;
    border: double black 2px;
}

.imgHold img{
    padding-left: 25px;
    align-self: center;
    padding-top: 25%;
    width: 350px;
}