main{
    padding-top: 8em;
}

#direct{
    display: flex;
    column-count: 2;
}

#contactsOpt{
    display: block;
    column-count: 2;
    padding-left: 5em;
}


.cOpt{
}

main i{
    font-size: 60px;
    border: .05em black solid;
    background-color: #800000;
    padding: 10px;
    border-radius: .4em;
    padding-right: -10px;
}